<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djhu.hiup.message.server.core.dao.IPatientDao">
    <resultMap id="BaseResultMap" type="com.djhu.hiup.message.server.core.model.Patient">
        <id column="PK" property="pk" jdbcType="DECIMAL"/>
        <result column="MSG_ID" property="msgId" jdbcType="VARCHAR"/>
        <result column="MSG_CREATION_TIME" property="msgCreationTime" jdbcType="VARCHAR"/>
        <result column="RECEIVE_ID" property="receiveId" jdbcType="VARCHAR"/>
        <result column="SEND_ID" property="sendId" jdbcType="VARCHAR"/>
        <result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR"/>
        <result column="STATUS_CODE" property="statusCode" jdbcType="VARCHAR"/>
        <result column="EFFECTIVE_TIME" property="effectiveTime" jdbcType="VARCHAR"/>
        <result column="IDENTITY_NO" property="identityNo" jdbcType="VARCHAR"/>
        <result column="CERTIFICATES_TYPE_ID" property="certificatesTypeId" jdbcType="VARCHAR"/>
        <result column="CERTIFICATES_TYPE_DEPICT" property="certificatesTypeDepict" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CONTACT_NUMBER" property="contactNumber" jdbcType="VARCHAR"/>
        <result column="GENDER_ID" property="genderId" jdbcType="VARCHAR"/>
        <result column="GENDER_DEPICT" property="genderDepict" jdbcType="VARCHAR"/>
        <result column="DATE_OF_BIRTH" property="dateOfBirth" jdbcType="VARCHAR"/>
        <result column="ADDR" property="addr" jdbcType="VARCHAR"/>
        <result column="ADDR_STATE" property="addrState" jdbcType="VARCHAR"/>
        <result column="ADDR_CITY" property="addrCity" jdbcType="VARCHAR"/>
        <result column="ADDR_COUNTY" property="addrCounty" jdbcType="VARCHAR"/>
        <result column="ADDR_STREET_NAME_BASE" property="addrStreetNameBase" jdbcType="VARCHAR"/>
        <result column="ADDR_STREET_NAME" property="addrStreetName" jdbcType="VARCHAR"/>
        <result column="HOUSE_NUMBER" property="houseNumber" jdbcType="VARCHAR"/>
        <result column="POSTAL_CODE" property="postalCode" jdbcType="VARCHAR"/>
        <result column="MARITAL_STATUS_ID" property="maritalStatusId" jdbcType="VARCHAR"/>
        <result column="MARITAL_STATUS_DEPICT" property="maritalStatusDepict" jdbcType="VARCHAR"/>
        <result column="ETHNIC_GROUP_ID" property="ethnicGroupId" jdbcType="VARCHAR"/>
        <result column="ETHNIC_GROUP_DESCRIVE" property="ethnicGroupDescrive" jdbcType="VARCHAR"/>
        <result column="OCCUPATION_ID" property="occupationId" jdbcType="VARCHAR"/>
        <result column="OCCUPATION_DEPICT" property="occupationDepict" jdbcType="VARCHAR"/>
        <result column="COMPANY" property="company" jdbcType="VARCHAR"/>
        <result column="COMPANY_CONTACT_PHONE" property="companyContactPhone" jdbcType="VARCHAR"/>
        <result column="HEALTH_CARD_NUMBER" property="healthCardNumber" jdbcType="VARCHAR"/>
        <result column="HEALTH_CARD_ORGANIZATION_CODE" property="healthCardOrganizationCode" jdbcType="VARCHAR"/>
        <result column="HEALTH_FILE_NUMBER" property="healthFileNumber" jdbcType="VARCHAR"/>
        <result column="ARCHIVING_ORGANIZATION_CODE" property="archivingOrganizationCode" jdbcType="VARCHAR"/>
        <result column="CONTACT_RELATIONSHIP_CODE" property="contactRelationshipCode" jdbcType="VARCHAR"/>
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR"/>
        <result column="PROVIDER_ORGANIZATION_ID" property="providerOrganizationId" jdbcType="VARCHAR"/>
        <result column="PROVIDER_ORGANIZATION_NAME" property="providerOrganizationName" jdbcType="VARCHAR"/>
        <result column="MEDICARE_TYPE_ID" property="medicareTypeId" jdbcType="VARCHAR"/>
        <result column="MEDICARE_TYPE_DEPICT" property="medicareTypeDepict" jdbcType="VARCHAR"/>
        <result column="AUTHOR_CODE" property="authorCode" jdbcType="VARCHAR"/>
        <result column="AUTHOR_NAME" property="authorName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="HIUP_STATUS" property="hiupStatus" jdbcType="VARCHAR"/>
        <result column="HIUP_INFO" property="hiupInfo" jdbcType="VARCHAR"/>
        <result column="EMPI" property="empi" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    PK, MSG_ID, MSG_CREATION_TIME, RECEIVE_ID, SEND_ID, PATIENT_ID, STATUS_CODE, EFFECTIVE_TIME,
    IDENTITY_NO, CERTIFICATES_TYPE_ID, CERTIFICATES_TYPE_DEPICT, NAME, CONTACT_NUMBER,
    GENDER_ID, GENDER_DEPICT, DATE_OF_BIRTH, ADDR, ADDR_STATE, ADDR_CITY, ADDR_COUNTY,
    ADDR_STREET_NAME_BASE, ADDR_STREET_NAME, HOUSE_NUMBER, POSTAL_CODE, MARITAL_STATUS_ID,
    MARITAL_STATUS_DEPICT, ETHNIC_GROUP_ID, ETHNIC_GROUP_DESCRIVE, OCCUPATION_ID, OCCUPATION_DEPICT,
    COMPANY, COMPANY_CONTACT_PHONE, HEALTH_CARD_NUMBER, HEALTH_CARD_ORGANIZATION_CODE,
    HEALTH_FILE_NUMBER, ARCHIVING_ORGANIZATION_CODE, CONTACT_RELATIONSHIP_CODE, CONTACT_PHONE,
    CONTACT_NAME, PROVIDER_ORGANIZATION_ID, PROVIDER_ORGANIZATION_NAME, MEDICARE_TYPE_ID,
    MEDICARE_TYPE_DEPICT, AUTHOR_CODE, AUTHOR_NAME, CREATE_TIME, UPDATE_TIME, HIUP_STATUS,
    HIUP_INFO, EMPI
  </sql>

    <sql id="No_Obsolete">
    and  STATUS_CODE != 'obsolete'
  </sql>

    <select id="selectCountBySelective" resultType="java.lang.Integer" parameterType="map">
        select count(*) from PATIENT
        where  MSG_ID = #{msgId,jdbcType=VARCHAR}

        <!--<if test="sendId != null and sendId != ''">
            AND SEND_ID = #{sendId,jdbcType=VARCHAR}
        </if>-->
<!--
        <include refid="No_Obsolete"/>
-->
    </select>

    <select id="selectCountBySelectiveMerge" resultType="java.lang.Integer" parameterType="map">
        select count(*) from PATIENT
        where 1 = 1
        <if test="patientId != null and patientId != ''">
            AND HEALTH_CARD_NUMBER = #{patientId,jdbcType=VARCHAR}
        </if>
        <if test="sendId != null and sendId != ''">
            AND SEND_ID = #{sendId,jdbcType=VARCHAR}
        </if>

<!--
        <include refid="No_Obsolete"/>
-->
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from PATIENT
    where PK = #{pk,jdbcType=DECIMAL}
  </delete>

    <insert id="insertSelective" parameterType="com.djhu.hiup.message.server.core.model.Patient">
        insert into PATIENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            PK,
            <if test="msgId != null">
                MSG_ID,
            </if>
            <if test="msgCreationTime != null">
                MSG_CREATION_TIME,
            </if>
            <if test="receiveId != null">
                RECEIVE_ID,
            </if>
            <if test="sendId != null">
                SEND_ID,
            </if>
            <if test="patientId != null">
                PATIENT_ID,
            </if>
            <if test="statusCode != null">
                STATUS_CODE,
            </if>
            <if test="effectiveTime != null">
                EFFECTIVE_TIME,
            </if>
            <if test="identityNo != null">
                IDENTITY_NO,
            </if>
            <if test="certificatesTypeId != null">
                CERTIFICATES_TYPE_ID,
            </if>
            <if test="certificatesTypeDepict != null">
                CERTIFICATES_TYPE_DEPICT,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="contactNumber != null">
                CONTACT_NUMBER,
            </if>
            <if test="genderId != null">
                GENDER_ID,
            </if>
            <if test="genderDepict != null">
                GENDER_DEPICT,
            </if>
            <if test="dateOfBirth != null">
                DATE_OF_BIRTH,
            </if>
            <if test="addr != null">
                ADDR,
            </if>
            <if test="addrState != null">
                ADDR_STATE,
            </if>
            <if test="addrCity != null">
                ADDR_CITY,
            </if>
            <if test="addrCounty != null">
                ADDR_COUNTY,
            </if>
            <if test="addrStreetNameBase != null">
                ADDR_STREET_NAME_BASE,
            </if>
            <if test="addrStreetName != null">
                ADDR_STREET_NAME,
            </if>
            <if test="houseNumber != null">
                HOUSE_NUMBER,
            </if>
            <if test="postalCode != null">
                POSTAL_CODE,
            </if>
            <if test="maritalStatusId != null">
                MARITAL_STATUS_ID,
            </if>
            <if test="maritalStatusDepict != null">
                MARITAL_STATUS_DEPICT,
            </if>
            <if test="ethnicGroupId != null">
                ETHNIC_GROUP_ID,
            </if>
            <if test="ethnicGroupDescrive != null">
                ETHNIC_GROUP_DESCRIVE,
            </if>
            <if test="occupationId != null">
                OCCUPATION_ID,
            </if>
            <if test="occupationDepict != null">
                OCCUPATION_DEPICT,
            </if>
            <if test="company != null">
                COMPANY,
            </if>
            <if test="companyContactPhone != null">
                COMPANY_CONTACT_PHONE,
            </if>
            <if test="healthCardNumber != null">
                HEALTH_CARD_NUMBER,
            </if>
            <if test="healthCardOrganizationCode != null">
                HEALTH_CARD_ORGANIZATION_CODE,
            </if>
            <if test="healthFileNumber != null">
                HEALTH_FILE_NUMBER,
            </if>
            <if test="archivingOrganizationCode != null">
                ARCHIVING_ORGANIZATION_CODE,
            </if>
            <if test="contactRelationshipCode != null">
                CONTACT_RELATIONSHIP_CODE,
            </if>
            <if test="contactPhone != null">
                CONTACT_PHONE,
            </if>
            <if test="contactName != null">
                CONTACT_NAME,
            </if>
            <if test="providerOrganizationId != null">
                PROVIDER_ORGANIZATION_ID,
            </if>
            <if test="providerOrganizationName != null">
                PROVIDER_ORGANIZATION_NAME,
            </if>
            <if test="medicareTypeId != null">
                MEDICARE_TYPE_ID,
            </if>
            <if test="medicareTypeDepict != null">
                MEDICARE_TYPE_DEPICT,
            </if>
            <if test="authorCode != null">
                AUTHOR_CODE,
            </if>
            <if test="authorName != null">
                AUTHOR_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="hiupStatus != null">
                HIUP_STATUS,
            </if>
            <if test="hiupInfo != null">
                HIUP_INFO,
            </if>
            <if test="empi != null">
                EMPI,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            PATIENT_SEQ.NEXTVAL,
            <if test="msgId != null">
                #{msgId,jdbcType=VARCHAR},
            </if>
            <if test="msgCreationTime != null">
                #{msgCreationTime,jdbcType=VARCHAR},
            </if>
            <if test="receiveId != null">
                #{receiveId,jdbcType=VARCHAR},
            </if>
            <if test="sendId != null">
                #{sendId,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="statusCode != null">
                #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="effectiveTime != null">
                #{effectiveTime,jdbcType=VARCHAR},
            </if>
            <if test="identityNo != null">
                #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="certificatesTypeId != null">
                #{certificatesTypeId,jdbcType=VARCHAR},
            </if>
            <if test="certificatesTypeDepict != null">
                #{certificatesTypeDepict,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="contactNumber != null">
                #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="genderId != null">
                #{genderId,jdbcType=VARCHAR},
            </if>
            <if test="genderDepict != null">
                #{genderDepict,jdbcType=VARCHAR},
            </if>
            <if test="dateOfBirth != null">
                #{dateOfBirth,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                #{addr,jdbcType=VARCHAR},
            </if>
            <if test="addrState != null">
                #{addrState,jdbcType=VARCHAR},
            </if>
            <if test="addrCity != null">
                #{addrCity,jdbcType=VARCHAR},
            </if>
            <if test="addrCounty != null">
                #{addrCounty,jdbcType=VARCHAR},
            </if>
            <if test="addrStreetNameBase != null">
                #{addrStreetNameBase,jdbcType=VARCHAR},
            </if>
            <if test="addrStreetName != null">
                #{addrStreetName,jdbcType=VARCHAR},
            </if>
            <if test="houseNumber != null">
                #{houseNumber,jdbcType=VARCHAR},
            </if>
            <if test="postalCode != null">
                #{postalCode,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatusId != null">
                #{maritalStatusId,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatusDepict != null">
                #{maritalStatusDepict,jdbcType=VARCHAR},
            </if>
            <if test="ethnicGroupId != null">
                #{ethnicGroupId,jdbcType=VARCHAR},
            </if>
            <if test="ethnicGroupDescrive != null">
                #{ethnicGroupDescrive,jdbcType=VARCHAR},
            </if>
            <if test="occupationId != null">
                #{occupationId,jdbcType=VARCHAR},
            </if>
            <if test="occupationDepict != null">
                #{occupationDepict,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="companyContactPhone != null">
                #{companyContactPhone,jdbcType=VARCHAR},
            </if>
            <if test="healthCardNumber != null">
                #{healthCardNumber,jdbcType=VARCHAR},
            </if>
            <if test="healthCardOrganizationCode != null">
                #{healthCardOrganizationCode,jdbcType=VARCHAR},
            </if>
            <if test="healthFileNumber != null">
                #{healthFileNumber,jdbcType=VARCHAR},
            </if>
            <if test="archivingOrganizationCode != null">
                #{archivingOrganizationCode,jdbcType=VARCHAR},
            </if>
            <if test="contactRelationshipCode != null">
                #{contactRelationshipCode,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="providerOrganizationId != null">
                #{providerOrganizationId,jdbcType=VARCHAR},
            </if>
            <if test="providerOrganizationName != null">
                #{providerOrganizationName,jdbcType=VARCHAR},
            </if>
            <if test="medicareTypeId != null">
                #{medicareTypeId,jdbcType=VARCHAR},
            </if>
            <if test="medicareTypeDepict != null">
                #{medicareTypeDepict,jdbcType=VARCHAR},
            </if>
            <if test="authorCode != null">
                #{authorCode,jdbcType=VARCHAR},
            </if>
            <if test="authorName != null">
                #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="hiupStatus != null">
                #{hiupStatus,jdbcType=VARCHAR},
            </if>
            <if test="hiupInfo != null">
                #{hiupInfo,jdbcType=VARCHAR},
            </if>
            <if test="empi != null">
                #{empi,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateBySelective" parameterType="com.djhu.hiup.message.server.core.model.Patient">
        update PATIENT
        <set>
            <if test="msgId != null">
                MSG_ID = #{msgId,jdbcType=VARCHAR},
            </if>
            <if test="msgCreationTime != null">
                MSG_CREATION_TIME = #{msgCreationTime,jdbcType=VARCHAR},
            </if>
            <if test="receiveId != null">
                RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
            </if>
            <if test="sendId != null">
                SEND_ID = #{sendId,jdbcType=VARCHAR},
            </if>
            <if test="patientId != null">
                PATIENT_ID = #{patientId,jdbcType=VARCHAR},
            </if>
            <if test="statusCode != null">
                STATUS_CODE = #{statusCode,jdbcType=VARCHAR},
            </if>
            <if test="effectiveTime != null">
                EFFECTIVE_TIME = #{effectiveTime,jdbcType=VARCHAR},
            </if>
            <if test="identityNo != null">
                IDENTITY_NO = #{identityNo,jdbcType=VARCHAR},
            </if>
            <if test="certificatesTypeId != null">
                CERTIFICATES_TYPE_ID = #{certificatesTypeId,jdbcType=VARCHAR},
            </if>
            <if test="certificatesTypeDepict != null">
                CERTIFICATES_TYPE_DEPICT = #{certificatesTypeDepict,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="contactNumber != null">
                CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
            </if>
            <if test="genderId != null">
                GENDER_ID = #{genderId,jdbcType=VARCHAR},
            </if>
            <if test="genderDepict != null">
                GENDER_DEPICT = #{genderDepict,jdbcType=VARCHAR},
            </if>
            <if test="dateOfBirth != null">
                DATE_OF_BIRTH = #{dateOfBirth,jdbcType=VARCHAR},
            </if>
            <if test="addr != null">
                ADDR = #{addr,jdbcType=VARCHAR},
            </if>
            <if test="addrState != null">
                ADDR_STATE = #{addrState,jdbcType=VARCHAR},
            </if>
            <if test="addrCity != null">
                ADDR_CITY = #{addrCity,jdbcType=VARCHAR},
            </if>
            <if test="addrCounty != null">
                ADDR_COUNTY = #{addrCounty,jdbcType=VARCHAR},
            </if>
            <if test="addrStreetNameBase != null">
                ADDR_STREET_NAME_BASE = #{addrStreetNameBase,jdbcType=VARCHAR},
            </if>
            <if test="addrStreetName != null">
                ADDR_STREET_NAME = #{addrStreetName,jdbcType=VARCHAR},
            </if>
            <if test="houseNumber != null">
                HOUSE_NUMBER = #{houseNumber,jdbcType=VARCHAR},
            </if>
            <if test="postalCode != null">
                POSTAL_CODE = #{postalCode,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatusId != null">
                MARITAL_STATUS_ID = #{maritalStatusId,jdbcType=VARCHAR},
            </if>
            <if test="maritalStatusDepict != null">
                MARITAL_STATUS_DEPICT = #{maritalStatusDepict,jdbcType=VARCHAR},
            </if>
            <if test="ethnicGroupId != null">
                ETHNIC_GROUP_ID = #{ethnicGroupId,jdbcType=VARCHAR},
            </if>
            <if test="ethnicGroupDescrive != null">
                ETHNIC_GROUP_DESCRIVE = #{ethnicGroupDescrive,jdbcType=VARCHAR},
            </if>
            <if test="occupationId != null">
                OCCUPATION_ID = #{occupationId,jdbcType=VARCHAR},
            </if>
            <if test="occupationDepict != null">
                OCCUPATION_DEPICT = #{occupationDepict,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                COMPANY = #{company,jdbcType=VARCHAR},
            </if>
            <if test="companyContactPhone != null">
                COMPANY_CONTACT_PHONE = #{companyContactPhone,jdbcType=VARCHAR},
            </if>
            <if test="healthCardNumber != null">
                HEALTH_CARD_NUMBER = #{healthCardNumber,jdbcType=VARCHAR},
            </if>
            <if test="healthCardOrganizationCode != null">
                HEALTH_CARD_ORGANIZATION_CODE = #{healthCardOrganizationCode,jdbcType=VARCHAR},
            </if>
            <if test="healthFileNumber != null">
                HEALTH_FILE_NUMBER = #{healthFileNumber,jdbcType=VARCHAR},
            </if>
            <if test="archivingOrganizationCode != null">
                ARCHIVING_ORGANIZATION_CODE = #{archivingOrganizationCode,jdbcType=VARCHAR},
            </if>
            <if test="contactRelationshipCode != null">
                CONTACT_RELATIONSHIP_CODE = #{contactRelationshipCode,jdbcType=VARCHAR},
            </if>
            <if test="contactPhone != null">
                CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="providerOrganizationId != null">
                PROVIDER_ORGANIZATION_ID = #{providerOrganizationId,jdbcType=VARCHAR},
            </if>
            <if test="providerOrganizationName != null">
                PROVIDER_ORGANIZATION_NAME = #{providerOrganizationName,jdbcType=VARCHAR},
            </if>
            <if test="medicareTypeId != null">
                MEDICARE_TYPE_ID = #{medicareTypeId,jdbcType=VARCHAR},
            </if>
            <if test="medicareTypeDepict != null">
                MEDICARE_TYPE_DEPICT = #{medicareTypeDepict,jdbcType=VARCHAR},
            </if>
            <if test="authorCode != null">
                AUTHOR_CODE = #{authorCode,jdbcType=VARCHAR},
            </if>
            <if test="authorName != null">
                AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="hiupStatus != null">
                HIUP_STATUS = #{hiupStatus,jdbcType=VARCHAR},
            </if>
            <if test="hiupInfo != null">
                HIUP_INFO = #{hiupInfo,jdbcType=VARCHAR},
            </if>
            <if test="empi != null">
                EMPI = #{empi,jdbcType=VARCHAR},
            </if>
        </set>
        where PATIENT_ID = #{patientId,jdbcType=VARCHAR}
        and SEND_ID = #{sendId,jdbcType=VARCHAR}
    </update>

    <update id="updateEmpiByPk" parameterType="com.djhu.hiup.message.server.core.model.Patient">
        update PATIENT
        <set>
            <if test="empi != null">
                EMPI = #{empi,jdbcType=VARCHAR},
            </if>
            <if test="authorCode != null">
                AUTHOR_CODE = #{authorCode,jdbcType=VARCHAR},
            </if>
            <if test="authorName != null">
                AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
            </if>
        </set>
        where PK = #{pk,jdbcType=DECIMAL}
    </update>

    <select id="selectBySelective" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  patient
        where 1=1
        <if test="statusCode != null">
            and STATUS_CODE = #{statusCode,jdbcType=VARCHAR}
        </if>
        <if test="identityNo != null">
            and IDENTITY_NO = #{identityNo,jdbcType=VARCHAR}
        </if>
        <if test="patientId != null">
            and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
        </if>
        <if test="genderId != null">
            and GENDER_ID = #{genderId,jdbcType=VARCHAR}
        </if>
        <if test="genderDepict != null">
            and GENDER_DEPICT = #{genderDepict,jdbcType=VARCHAR}
        </if>
        <if test="name != null">
            and NAME = #{name,jdbcType=VARCHAR}
        </if>
<!--
        <include refid="No_Obsolete"/>
-->
    </select>

    <select id="selectBySelectiveForUpdate" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from patient
        where 1=1
        <if test="patientId != null">
            and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
        </if>
        <!--<if test="statusCode != null">-->
            <!--and STATUS_CODE = #{statusCode,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="name != null">-->
            <!--and NAME = #{name,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="genderId != null">-->
            <!--and GENDER_ID = #{genderId,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="genderDepict !2= null">-->
            <!--and GENDER_DEPICT = #{genderDepict,jdbcType=VARCHAR}-->
        <!--</if>-->
        <!--<if test="identityNo != null">-->
            <!--and IDENTITY_NO = #{identityNo,jdbcType=VARCHAR}-->
        <!--</if>-->

<!--
        <include refid="No_Obsolete"/>
-->
    </select>

    <select id="selectBySelectiveForMerge" parameterType="map" resultMap="BaseResultMap">
        select *
        from ats_wjw.patient_hlht
        where 1=1
        <if test="statusCode != null">
            and STATUS_CODE = #{statusCode,jdbcType=VARCHAR}
        </if>
        <if test="patientId != null">
            and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
        </if>
<!--
        <include refid="No_Obsolete"/>
-->
    </select>

<!--    <select id="selectBeMergedPatientByPatientId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from patient
        where 1=1
        <if test="beMergedPatientId != null">
            and PATIENT_ID = #{beMergedPatientId,jdbcType=VARCHAR}
        </if>
        <include refid="No_Obsolete"/>
    </select>-->
    <select id="selectBeMergedPatientByPatientId" parameterType="map" resultMap="BaseResultMap">
        select *
        from ats_wjw.patient_hlht
        where 1=1
        <if test="beMergedPatientId != null">
            and PATIENT_ID = #{beMergedPatientId,jdbcType=VARCHAR}
        </if>
<!--
        <include refid="No_Obsolete"/>
-->
    </select>

    <update id="discardPatientByPk" parameterType="com.djhu.hiup.message.server.core.model.Patient">
        update PATIENT
        <set>
            STATUS_CODE = #{statusCode,jdbcType=VARCHAR},
            UPDATE_TIME = sysdate
        </set>
        where PK = #{pk,jdbcType=DECIMAL}
    </update>

    <select id="selectPatientByEmpi" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PATIENT
        where
        empi in
        <foreach collection="list" item="empiItem" index="index" open="(" separator="," close=")">
            #{empiItem,jdbcType=VARCHAR}
        </foreach>
<!--
        <include refid="No_Obsolete"/>
-->
    </select>

    <select id="selectPatientCountByEmpi" resultType="int" parameterType="String">
        select
        count(*)
        from PATIENT
        where
        empi=#{_parameter,jdbcType=VARCHAR}
<!--
        <include refid="No_Obsolete"/>
-->
    </select>
</mapper>