<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djhu.hiup.message.server.core.dao.IStatusOrderExecDao" >
  <resultMap id="BaseResultMap" type="com.djhu.hiup.message.server.core.model.StatusOrderExec" >
    <id column="PK" property="pk" jdbcType="DECIMAL" />
    <result column="MSG_ID" property="msgId" jdbcType="VARCHAR" />
    <result column="MSG_CREATION_TIME" property="msgCreationTime" jdbcType="VARCHAR" />
    <result column="RECEIVE_ID" property="receiveId" jdbcType="VARCHAR" />
    <result column="SEND_ID" property="sendId" jdbcType="VARCHAR" />
    <result column="EFFECTIVE_TIME" property="effectiveTime" jdbcType="VARCHAR" />
    <result column="DOMAIN_ID" property="domainId" jdbcType="VARCHAR" />
    <result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <result column="OPERATION_DATE" property="operationDate" jdbcType="VARCHAR" />
    <result column="OPERATION_PERSON_CODE" property="operationPersonCode" jdbcType="VARCHAR" />
    <result column="OPERATION_PERSON_NAME" property="operationPersonName" jdbcType="VARCHAR" />
    <result column="EXEC_DEPT_CODE" property="execDeptCode" jdbcType="VARCHAR" />
    <result column="EXEC_DEPT_NAME" property="execDeptName" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="REQUEST_NO" property="requestNo" jdbcType="VARCHAR" />
    <result column="ORDER_ITEM_ORDER_TYPE" property="orderItemOrderType" jdbcType="VARCHAR" />
    <result column="ORDER_ITEM_ORDER_TYPE_NAME" property="orderItemOrderTypeName" jdbcType="VARCHAR" />
    <result column="SPECIMENT_ID" property="specimentId" jdbcType="VARCHAR" />
    <result column="SAMPLE_COLLECTION_DATE" property="sampleCollectionDate" jdbcType="VARCHAR" />
    <result column="SAMPLE_COLLECTION_ID" property="sampleCollectionId" jdbcType="VARCHAR" />
    <result column="SAMPLE_COLLECTION_NAME" property="sampleCollectionName" jdbcType="VARCHAR" />
    <result column="ORDER_CAUSE_REVOCATION_CODE" property="orderCauseRevocationCode" jdbcType="VARCHAR" />
    <result column="ORDER_CAUSE_REVOCATION_DEPICT" property="orderCauseRevocationDepict" jdbcType="VARCHAR" />
    <result column="ORDER_EXEC_STATUS_CODE" property="orderExecStatusCode" jdbcType="VARCHAR" />
    <result column="ORDER_EXEC_STATUS_DEPICT" property="orderExecStatusDepict" jdbcType="VARCHAR" />
    <result column="INPATIENT_FREQUENCY" property="inpatientFrequency" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="HIUP_STATUS" property="hiupStatus" jdbcType="VARCHAR" />
    <result column="HIUP_INFO" property="hiupInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK, MSG_ID, MSG_CREATION_TIME, RECEIVE_ID, SEND_ID, EFFECTIVE_TIME, DOMAIN_ID, PATIENT_ID, 
    OPERATION_DATE, OPERATION_PERSON_CODE, OPERATION_PERSON_NAME, EXEC_DEPT_CODE, EXEC_DEPT_NAME, 
    ORDER_NO, REQUEST_NO, ORDER_ITEM_ORDER_TYPE, ORDER_ITEM_ORDER_TYPE_NAME, SPECIMENT_ID, 
    SAMPLE_COLLECTION_DATE, SAMPLE_COLLECTION_ID, SAMPLE_COLLECTION_NAME, ORDER_CAUSE_REVOCATION_CODE, 
    ORDER_CAUSE_REVOCATION_DEPICT, ORDER_EXEC_STATUS_CODE, ORDER_EXEC_STATUS_DEPICT, 
    INPATIENT_FREQUENCY, CREATE_TIME, UPDATE_TIME, HIUP_STATUS, HIUP_INFO
  </sql>

  <select id="selectCountBySelective" resultType="java.lang.Integer" parameterType="map" >
    select count(*) from STATUS_ORDER_EXEC
      where  ORDER_NO = #{orderNo,jdbcType=VARCHAR} AND
      REQUEST_NO = #{requestNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from STATUS_ORDER_EXEC
    where PK = #{pk,jdbcType=DECIMAL}
  </delete>

 <insert id="insertSelective" parameterType="map"  >
    insert into STATUS_ORDER_EXEC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      PK,
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="msgCreationTime != null" >
        MSG_CREATION_TIME,
      </if>
      <if test="receiveId != null" >
        RECEIVE_ID,
      </if>
      <if test="sendId != null" >
        SEND_ID,
      </if>
      <if test="effectiveTime != null" >
        EFFECTIVE_TIME,
      </if>
      <if test="domainId != null" >
        DOMAIN_ID,
      </if>
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="operationDate != null" >
        OPERATION_DATE,
      </if>
      <if test="operationPersonCode != null" >
        OPERATION_PERSON_CODE,
      </if>
      <if test="operationPersonName != null" >
        OPERATION_PERSON_NAME,
      </if>
      <if test="execDeptCode != null" >
        EXEC_DEPT_CODE,
      </if>
      <if test="execDeptName != null" >
        EXEC_DEPT_NAME,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="requestNo != null" >
        REQUEST_NO,
      </if>
      <if test="orderItemOrderType != null" >
        ORDER_ITEM_ORDER_TYPE,
      </if>
      <if test="orderItemOrderTypeName != null" >
        ORDER_ITEM_ORDER_TYPE_NAME,
      </if>
      <if test="specimentId != null" >
        SPECIMENT_ID,
      </if>
      <if test="sampleCollectionDate != null" >
        SAMPLE_COLLECTION_DATE,
      </if>
      <if test="sampleCollectionId != null" >
        SAMPLE_COLLECTION_ID,
      </if>
      <if test="sampleCollectionName != null" >
        SAMPLE_COLLECTION_NAME,
      </if>
      <if test="orderCauseRevocationCode != null" >
        ORDER_CAUSE_REVOCATION_CODE,
      </if>
      <if test="orderCauseRevocationDepict != null" >
        ORDER_CAUSE_REVOCATION_DEPICT,
      </if>
      <if test="orderExecStatusCode != null" >
        ORDER_EXEC_STATUS_CODE,
      </if>
      <if test="orderExecStatusDepict != null" >
        ORDER_EXEC_STATUS_DEPICT,
      </if>
      <if test="inpatientFrequency != null" >
        INPATIENT_FREQUENCY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="hiupStatus != null" >
        HIUP_STATUS,
      </if>
      <if test="hiupInfo != null" >
        HIUP_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      STATUS_ORDER_EXEC_SEQ.NEXTVAL,
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="msgCreationTime != null" >
        #{msgCreationTime,jdbcType=VARCHAR},
      </if>
      <if test="receiveId != null" >
        #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null" >
        #{effectiveTime,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null" >
        #{operationDate,jdbcType=VARCHAR},
      </if>
      <if test="operationPersonCode != null" >
        #{operationPersonCode,jdbcType=VARCHAR},
      </if>
      <if test="operationPersonName != null" >
        #{operationPersonName,jdbcType=VARCHAR},
      </if>
      <if test="execDeptCode != null" >
        #{execDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="execDeptName != null" >
        #{execDeptName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="orderItemOrderType != null" >
        #{orderItemOrderType,jdbcType=VARCHAR},
      </if>
      <if test="orderItemOrderTypeName != null" >
        #{orderItemOrderTypeName,jdbcType=VARCHAR},
      </if>
      <if test="specimentId != null" >
        #{specimentId,jdbcType=VARCHAR},
      </if>
      <if test="sampleCollectionDate != null" >
        #{sampleCollectionDate,jdbcType=VARCHAR},
      </if>
      <if test="sampleCollectionId != null" >
        #{sampleCollectionId,jdbcType=VARCHAR},
      </if>
      <if test="sampleCollectionName != null" >
        #{sampleCollectionName,jdbcType=VARCHAR},
      </if>
      <if test="orderCauseRevocationCode != null" >
        #{orderCauseRevocationCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCauseRevocationDepict != null" >
        #{orderCauseRevocationDepict,jdbcType=VARCHAR},
      </if>
      <if test="orderExecStatusCode != null" >
        #{orderExecStatusCode,jdbcType=VARCHAR},
      </if>
      <if test="orderExecStatusDepict != null" >
        #{orderExecStatusDepict,jdbcType=VARCHAR},
      </if>
      <if test="inpatientFrequency != null" >
        #{inpatientFrequency,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hiupStatus != null" >
        #{hiupStatus,jdbcType=VARCHAR},
      </if>
      <if test="hiupInfo != null" >
        #{hiupInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateBySelective" parameterType="map"  >
    update STATUS_ORDER_EXEC
    <set >
      <if test="msgId != null" >
        MSG_ID = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="msgCreationTime != null" >
        MSG_CREATION_TIME = #{msgCreationTime,jdbcType=VARCHAR},
      </if>
      <if test="receiveId != null" >
        RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        SEND_ID = #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null" >
        EFFECTIVE_TIME = #{effectiveTime,jdbcType=VARCHAR},
      </if>
      <if test="domainId != null" >
        DOMAIN_ID = #{domainId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null" >
        OPERATION_DATE = #{operationDate,jdbcType=VARCHAR},
      </if>
      <if test="operationPersonCode != null" >
        OPERATION_PERSON_CODE = #{operationPersonCode,jdbcType=VARCHAR},
      </if>
      <if test="operationPersonName != null" >
        OPERATION_PERSON_NAME = #{operationPersonName,jdbcType=VARCHAR},
      </if>
      <if test="execDeptCode != null" >
        EXEC_DEPT_CODE = #{execDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="execDeptName != null" >
        EXEC_DEPT_NAME = #{execDeptName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        REQUEST_NO = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="orderItemOrderType != null" >
        ORDER_ITEM_ORDER_TYPE = #{orderItemOrderType,jdbcType=VARCHAR},
      </if>
      <if test="orderItemOrderTypeName != null" >
        ORDER_ITEM_ORDER_TYPE_NAME = #{orderItemOrderTypeName,jdbcType=VARCHAR},
      </if>
      <if test="specimentId != null" >
        SPECIMENT_ID = #{specimentId,jdbcType=VARCHAR},
      </if>
      <if test="sampleCollectionDate != null" >
        SAMPLE_COLLECTION_DATE = #{sampleCollectionDate,jdbcType=VARCHAR},
      </if>
      <if test="sampleCollectionId != null" >
        SAMPLE_COLLECTION_ID = #{sampleCollectionId,jdbcType=VARCHAR},
      </if>
      <if test="sampleCollectionName != null" >
        SAMPLE_COLLECTION_NAME = #{sampleCollectionName,jdbcType=VARCHAR},
      </if>
      <if test="orderCauseRevocationCode != null" >
        ORDER_CAUSE_REVOCATION_CODE = #{orderCauseRevocationCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCauseRevocationDepict != null" >
        ORDER_CAUSE_REVOCATION_DEPICT = #{orderCauseRevocationDepict,jdbcType=VARCHAR},
      </if>
      <if test="orderExecStatusCode != null" >
        ORDER_EXEC_STATUS_CODE = #{orderExecStatusCode,jdbcType=VARCHAR},
      </if>
      <if test="orderExecStatusDepict != null" >
        ORDER_EXEC_STATUS_DEPICT = #{orderExecStatusDepict,jdbcType=VARCHAR},
      </if>
      <if test="inpatientFrequency != null" >
        INPATIENT_FREQUENCY = #{inpatientFrequency,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hiupStatus != null" >
        HIUP_STATUS = #{hiupStatus,jdbcType=VARCHAR},
      </if>
      <if test="hiupInfo != null" >
        HIUP_INFO = #{hiupInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where   ORDER_NO = #{orderNo,jdbcType=VARCHAR} AND
    REQUEST_NO = #{requestNo,jdbcType=VARCHAR}
  </update>

  <select id="selectBySelective" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from STATUS_ORDER_EXEC
    where 1=1
    <if test="orderNo != null">
      and ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="operationPersonCode != null">
      and OPERATION_PERSON_CODE = #{operationPersonCode,jdbcType=VARCHAR}
    </if>
    <if test="effectiveStartTime != null">
      <![CDATA[ and EFFECTIVE_TIME >= #{effectiveStartTime,jdbcType=VARCHAR}]]>
    </if>
    <if test="effectiveEndTime != null">
      and <![CDATA[EFFECTIVE_TIME <= #{effectiveEndTime,jdbcType=VARCHAR}]]>
    </if>

    <if test="patientId != null">
      and PATIENT_ID = #{patientId,jdbcType=VARCHAR}
    </if>
    <if test="statusCode != null">
      and ORDER_EXEC_STATUS_CODE = #{statusCode,jdbcType=VARCHAR}
    </if>

  </select>
</mapper>