<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djhu.hiup.message.server.core.dao.IVisitLeaveHospitalDao" >
  <resultMap id="BaseResultMap" type="com.djhu.hiup.message.server.core.model.VisitLeaveHospital" >
    <id column="PK" property="pk" jdbcType="DECIMAL" />
    <result column="MSG_ID" property="msgId" jdbcType="VARCHAR" />
    <result column="MSG_CREATION_TIME" property="msgCreationTime" jdbcType="VARCHAR" />
    <result column="RECEIVE_ID" property="receiveId" jdbcType="VARCHAR" />
    <result column="SEND_ID" property="sendId" jdbcType="VARCHAR" />
    <result column="INPATIENT_NO" property="inpatientNo" jdbcType="VARCHAR" />
    <result column="VISIT_NUMBER" property="visitNumber" jdbcType="VARCHAR" />
    <result column="VISIT_FLOW_NO" property="visitFlowNo" jdbcType="VARCHAR" />
    <result column="VISIT_TYPE_CODE" property="visitTypeCode" jdbcType="VARCHAR" />
    <result column="VISIT_TYPE_DEPICT" property="visitTypeDepict" jdbcType="VARCHAR" />
    <result column="LEAVE_HOSPITAL_TIME" property="leaveHospitalTime" jdbcType="VARCHAR" />
    <result column="INPATIENT_DAYS" property="inpatientDays" jdbcType="VARCHAR" />
    <result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />
    <result column="IDENTITY_NO" property="identityNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AUTHOR_CODE" property="authorCode" jdbcType="VARCHAR" />
    <result column="AUTHOR_NAME" property="authorName" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT_DEPICT" property="deptDepict" jdbcType="VARCHAR" />
    <result column="INPATIENT_AREA_ID" property="inpatientAreaId" jdbcType="VARCHAR" />
    <result column="INPATIENT_AREA_NAME" property="inpatientAreaName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="HIUP_STATUS" property="hiupStatus" jdbcType="VARCHAR" />
    <result column="HIUP_INFO" property="hiupInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK, MSG_ID, MSG_CREATION_TIME, RECEIVE_ID, SEND_ID, INPATIENT_NO, VISIT_NUMBER, VISIT_FLOW_NO, 
    VISIT_TYPE_CODE, VISIT_TYPE_DEPICT, LEAVE_HOSPITAL_TIME, INPATIENT_DAYS, PATIENT_ID, 
    IDENTITY_NO, NAME, AUTHOR_CODE, AUTHOR_NAME, DEPT_ID, DEPT_DEPICT, INPATIENT_AREA_ID, 
    INPATIENT_AREA_NAME, CREATE_TIME, UPDATE_TIME, HIUP_STATUS, HIUP_INFO
    --, GENDER_ID, GENDER_DEPICT,DATE_OF_BIRTH
  </sql>

  <select id="selectCountBySelective" resultType="java.lang.Integer" parameterType="map" >
     select count(*) from VISIT_LEAVE_HOSPITAL
      where   MSG_ID = #{msgId,jdbcType=VARCHAR}

     <!-- <if test="inpatientNo!=null"> and INPATIENT_NO = #{inpatientNo,jdbcType=VARCHAR}</if>
      <if test="visitNumber!=null"> and VISIT_NUMBER = #{visitNumber,jdbcType=VARCHAR}</if>
      <if test="visitFlowNo!=null"> and VISIT_FLOW_NO = #{visitFlowNo,jdbcType=VARCHAR}</if>-->
  </select>

  <select id="selectPkBySelective" resultType="java.math.BigDecimal" parameterType="map" >
    select
    PK
    from VISIT_LEAVE_HOSPITAL
      where  INPATIENT_NO = #{inpatientNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from VISIT_LEAVE_HOSPITAL
    where PK = #{pk,jdbcType=DECIMAL}
  </delete>

  <insert id="insertSelective" parameterType="map"  >
    <selectKey resultType="java.math.BigDecimal" order="BEFORE" keyProperty="pk">
      select VISIT_LEAVE_HOSPITAL_SEQ.NEXTVAL as pk from dual
    </selectKey>
    insert into VISIT_LEAVE_HOSPITAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      PK,
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="msgCreationTime != null" >
        MSG_CREATION_TIME,
      </if>
      <if test="receiveId != null" >
        RECEIVE_ID,
      </if>
      <if test="sendId != null" >
        SEND_ID,
      </if>
      <if test="inpatientNo != null" >
        INPATIENT_NO,
      </if>
      <if test="visitNumber != null" >
        VISIT_NUMBER,
      </if>
      <if test="visitFlowNo != null" >
        VISIT_FLOW_NO,
      </if>
      <if test="visitTypeCode != null" >
        VISIT_TYPE_CODE,
      </if>
      <if test="visitTypeDepict != null" >
        VISIT_TYPE_DEPICT,
      </if>
      <if test="leaveHospitalTime != null" >
        LEAVE_HOSPITAL_TIME,
      </if>
      <if test="inpatientDays != null" >
        INPATIENT_DAYS,
      </if>
      <if test="patientId != null" >
        PATIENT_ID,
      </if>
      <if test="identityNo != null" >
        IDENTITY_NO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="authorCode != null" >
        AUTHOR_CODE,
      </if>
      <if test="authorName != null" >
        AUTHOR_NAME,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptDepict != null" >
        DEPT_DEPICT,
      </if>
      <if test="inpatientAreaId != null" >
        INPATIENT_AREA_ID,
      </if>
      <if test="inpatientAreaName != null" >
        INPATIENT_AREA_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="hiupStatus != null" >
        HIUP_STATUS,
      </if>
      <if test="hiupInfo != null" >
        HIUP_INFO,
      </if>
      <if test="genderId != null" >
        GENDER_ID,
      </if>
      <if test="genderDepict != null" >
        GENDER_DEPICT,
      </if>
      <if test="dateOfBirth != null" >
        DATE_OF_BIRTH
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{pk,jdbcType=DECIMAL},
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="msgCreationTime != null" >
        #{msgCreationTime,jdbcType=VARCHAR},
      </if>
      <if test="receiveId != null" >
        #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="inpatientNo != null" >
        #{inpatientNo,jdbcType=VARCHAR},
      </if>
      <if test="visitNumber != null" >
        #{visitNumber,jdbcType=VARCHAR},
      </if>
      <if test="visitFlowNo != null" >
        #{visitFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeCode != null" >
        #{visitTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeDepict != null" >
        #{visitTypeDepict,jdbcType=VARCHAR},
      </if>
      <if test="leaveHospitalTime != null" >
        #{leaveHospitalTime,jdbcType=VARCHAR},
      </if>
      <if test="inpatientDays != null" >
        #{inpatientDays,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null" >
        #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="authorCode != null" >
        #{authorCode,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null" >
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptDepict != null" >
        #{deptDepict,jdbcType=VARCHAR},
      </if>
      <if test="inpatientAreaId != null" >
        #{inpatientAreaId,jdbcType=VARCHAR},
      </if>
      <if test="inpatientAreaName != null" >
        #{inpatientAreaName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hiupStatus != null" >
        #{hiupStatus,jdbcType=VARCHAR},
      </if>
      <if test="hiupInfo != null" >
        #{hiupInfo,jdbcType=VARCHAR},
      </if>
      <if test="genderId != null" >
        #{genderId,jdbcType=VARCHAR},
      </if>
      <if test="genderDepict != null" >
        #{genderDepict,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null" >
        #{dateOfBirth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateBySelective" parameterType="map"  >
    update VISIT_LEAVE_HOSPITAL
    <set >
      <if test="msgId != null" >
        MSG_ID = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="msgCreationTime != null" >
        MSG_CREATION_TIME = #{msgCreationTime,jdbcType=VARCHAR},
      </if>
      <if test="receiveId != null" >
        RECEIVE_ID = #{receiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendId != null" >
        SEND_ID = #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="inpatientNo != null" >
        INPATIENT_NO = #{inpatientNo,jdbcType=VARCHAR},
      </if>
      <if test="visitNumber != null" >
        VISIT_NUMBER = #{visitNumber,jdbcType=VARCHAR},
      </if>
      <if test="visitFlowNo != null" >
        VISIT_FLOW_NO = #{visitFlowNo,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeCode != null" >
        VISIT_TYPE_CODE = #{visitTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeDepict != null" >
        VISIT_TYPE_DEPICT = #{visitTypeDepict,jdbcType=VARCHAR},
      </if>
      <if test="leaveHospitalTime != null" >
        LEAVE_HOSPITAL_TIME = #{leaveHospitalTime,jdbcType=VARCHAR},
      </if>
      <if test="inpatientDays != null" >
        INPATIENT_DAYS = #{inpatientDays,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null" >
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="identityNo != null" >
        IDENTITY_NO = #{identityNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="authorCode != null" >
        AUTHOR_CODE = #{authorCode,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null" >
        AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptDepict != null" >
        DEPT_DEPICT = #{deptDepict,jdbcType=VARCHAR},
      </if>
      <if test="inpatientAreaId != null" >
        INPATIENT_AREA_ID = #{inpatientAreaId,jdbcType=VARCHAR},
      </if>
      <if test="inpatientAreaName != null" >
        INPATIENT_AREA_NAME = #{inpatientAreaName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hiupStatus != null" >
        HIUP_STATUS = #{hiupStatus,jdbcType=VARCHAR},
      </if>
      <if test="hiupInfo != null" >
        HIUP_INFO = #{hiupInfo,jdbcType=VARCHAR},
      </if>
      <if test="genderId != null" >
        GENDER_ID = #{genderId,jdbcType=VARCHAR},
      </if>
      <if test="genderDepict != null" >
        GENDER_DEPICT = #{genderDepict,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBirth != null" >
        DATE_OF_BIRTH = #{dateOfBirth,jdbcType=VARCHAR}
      </if>
    </set>
    where  INPATIENT_NO = #{inpatientNo,jdbcType=VARCHAR}
  </update>

  <select id="selectBySelective" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from  visit_leave_hospital
    where 1=1

    <if test="inpatientNo != null">
      and  INPATIENT_NO = #{inpatientNo,jdbcType=VARCHAR}
    </if>
    <if test="visitNumber != null">
      and    VISIT_NUMBER = #{visitNumber,jdbcType=VARCHAR}
    </if>
    <if test="visitFlowNo != null">
      and   VISIT_FLOW_NO = #{visitFlowNo,jdbcType=VARCHAR}
    </if>
    <if test="authorCode != null">
      and   AUTHOR_CODE = #{authorCode,jdbcType=VARCHAR}
    </if>

    <if test="leaveHospitalTimeLow != null">
      <![CDATA[ and   LEAVE_HOSPITAL_TIME >= #{leaveHospitalTimeLow,jdbcType=VARCHAR}]]>
    </if>
    <if test="leaveHospitalTimeHigh != null">
      and <![CDATA[LEAVE_HOSPITAL_TIME< = #{leaveHospitalTimeHigh,jdbcType=VARCHAR}]]>
    </if>
    <if test="patientId != null and patientId != '' and patientId != '-'">
      and   PATIENT_ID = #{patientId,jdbcType=VARCHAR}
    </if>
    <if test="identityNo != null">
      and  IDENTITY_NO = #{identityNo,jdbcType=VARCHAR}
    </if>
    <if test="deptId != null">
      and   DEPT_ID = #{deptId,jdbcType=VARCHAR}
    </if>
    <if test="inpatientAreaId != null">
      and   INPATIENT_AREA_ID = #{inpatientAreaId,jdbcType=VARCHAR}
    </if>
    <if test="providerOrganizationId != null">
      and INPATIENT_NO in (select INPATIENT_NO from VISIT_INPATIENT_VISIT where SERVICE_ORGANIZATION_CODE = #{providerOrganizationId,jdbcType=VARCHAR})
    </if>
    <if test="visitTypeCode != null">
      and   VISIT_TYPE_CODE = #{visitTypeCode,jdbcType=VARCHAR}
    </if>
    <if test="visitTypeDepict != null">
      and   VISIT_TYPE_DEPICT = #{visitTypeDepict,jdbcType=VARCHAR}
    </if>
  </select>
  
  <!---->
  <!---->
   <!--<resultMap id="BaseResultMapWitchC" type="com.djhu.hiup.message.server.core.model.VisitLeaveHospital" >-->
    <!--<id column="PK" property="pk" jdbcType="DECIMAL" />-->
    <!--<result column="MSG_ID" property="msgId" jdbcType="VARCHAR" />-->
    <!--<result column="MSG_CREATION_TIME" property="msgCreationTime" jdbcType="VARCHAR" />-->
    <!--<result column="RECEIVE_ID" property="receiveId" jdbcType="VARCHAR" />-->
    <!--<result column="SEND_ID" property="sendId" jdbcType="VARCHAR" />-->
    <!--<result column="INPATIENT_NO" property="inpatientNo" jdbcType="VARCHAR" />-->
    <!--<result column="VISIT_NUMBER" property="visitNumber" jdbcType="VARCHAR" />-->
    <!--<result column="VISIT_FLOW_NO" property="visitFlowNo" jdbcType="VARCHAR" />-->
    <!--<result column="VISIT_TYPE_CODE" property="visitTypeCode" jdbcType="VARCHAR" />-->
    <!--<result column="VISIT_TYPE_DEPICT" property="visitTypeDepict" jdbcType="VARCHAR" />-->
    <!--<result column="LEAVE_HOSPITAL_TIME" property="leaveHospitalTime" jdbcType="VARCHAR" />-->
    <!--<result column="INPATIENT_DAYS" property="inpatientDays" jdbcType="VARCHAR" />-->
    <!--<result column="PATIENT_ID" property="patientId" jdbcType="VARCHAR" />-->
    <!--<result column="IDENTITY_NO" property="identityNo" jdbcType="VARCHAR" />-->
    <!--<result column="NAME" property="name" jdbcType="VARCHAR" />-->
    <!--<result column="AUTHOR_CODE" property="authorCode" jdbcType="VARCHAR" />-->
    <!--<result column="AUTHOR_NAME" property="authorName" jdbcType="VARCHAR" />-->
    <!--<result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />-->
    <!--<result column="DEPT_DEPICT" property="deptDepict" jdbcType="VARCHAR" />-->
    <!--<result column="INPATIENT_AREA_ID" property="inpatientAreaId" jdbcType="VARCHAR" />-->
    <!--<result column="INPATIENT_AREA_NAME" property="inpatientAreaName" jdbcType="VARCHAR" />-->
    <!--<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="HIUP_STATUS" property="hiupStatus" jdbcType="VARCHAR" />-->
    <!--<result column="HIUP_INFO" property="hiupInfo" jdbcType="VARCHAR" />-->
    <!--<collection property="leaveHospitalDiagnosisList" column="pk" -->
		<!--javaType="ArrayList" ofType="com.djhu.hiup.message.server.core.model.LeaveHospitalDiagnosis" select="com.djhu.hiup.message.server.core.dao.IVisitLeaveHospitalDao.selectByLeaveHospitalPk">-->
	<!--</collection>-->
  <!--</resultMap>-->
  <!---->
  <!--<select id="selectBySelectiveWitchC" parameterType="map" resultMap="BaseResultMapWitchC">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from VISIT_LEAVE_HOSPITAL-->
    <!--where 1=1-->

    <!--<if test="inpatientNo != null">-->
      <!--and  INPATIENT_NO = #{inpatientNo,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="visitNumber != null">-->
      <!--and    VISIT_NUMBER = #{visitNumber,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="visitFlowNo != null">-->
      <!--and   VISIT_FLOW_NO = #{visitFlowNo,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="authorCode != null">-->
      <!--and   AUTHOR_CODE = #{authorCode,jdbcType=VARCHAR}-->
    <!--</if>-->

    <!--<if test="leaveHospitalTimeLow != null">-->
      <!--<![CDATA[ and   LEAVE_HOSPITAL_TIME >= #{leaveHospitalTimeLow,jdbcType=VARCHAR}]]>-->
    <!--</if>-->
    <!--<if test="leaveHospitalTimeHigh != null">-->
      <!--and <![CDATA[LEAVE_HOSPITAL_TIME< = #{leaveHospitalTimeHigh,jdbcType=VARCHAR}]]>-->
    <!--</if>-->
    <!--<if test="patientId != null">-->
      <!--and   PATIENT_ID = #{patientId,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="identityNo != null">-->
      <!--and  IDENTITY_NO = #{identityNo,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="deptId != null">-->
      <!--and   DEPT_ID = #{deptId,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="inpatientAreaId != null">-->
      <!--and   INPATIENT_AREA_ID = #{inpatientAreaId,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="providerOrganizationId != null">-->
      <!--and INPATIENT_NO in (select INPATIENT_NO from VISIT_INPATIENT_VISIT where SERVICE_ORGANIZATION_CODE = #{providerOrganizationId,jdbcType=VARCHAR})-->
    <!--</if>-->
    <!--<if test="visitTypeCode != null">-->
      <!--and   VISIT_TYPE_CODE = #{visitTypeCode,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="visitTypeDepict != null">-->
      <!--and   VISIT_TYPE_DEPICT = #{visitTypeDepict,jdbcType=VARCHAR}-->
    <!--</if>-->
  <!--</select>-->
</mapper>